.profile__profession {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  margin-top: 7px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .profile__profession {
    font-size: 14px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 767px) {
  .profile__profession {
    margin-top: 7px;
  }
}
