.popup__form {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .popup__form {
    margin-top: 75px;
  }
}
