.header {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  min-height: 74px;
  margin: auto;
  padding-top: 55px;
  border-bottom: solid 1px rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    padding-top: 28px;
  }
}
